.herobanner {
  background-image: url('/images/youngsters.jpg');
  background-size: cover;
  background-position: center;
  color: #e2254d;
  min-height: 500px;
  height: 80vh;
  padding-top: 2rem;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(231, 54, 114, 0.2);
  }

  &__logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #de198b;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    img {
      width: 100%;
    }
  }

  .center-wrp {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translateY(-50%);
  }

  .title,
  .helper {
    text-align: center;
    font-weight: 500;
  }

  .title {
    margin: 0;
    font-size: 2.5rem;
  }
  .helper {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
